@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  font-size: 130%;
  color: #fff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  background-color: black;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#widgets {
  display: flex;
  justify-content: space-between;
}

#crypto-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 143px;
}

#weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.temperature {
  display: flex;
  align-items: center;
  font-size: 200%;
}

#weather-info img {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0));
  margin-left: -15px;
}

.city {
  margin-top: -20px;
}

#crypto-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
#crypto-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.price {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.price img {
  width: 15%;
}

#time {
  font-size: 100px;
}

#form {
  display: flex;
  justify-content: center;
}

#form input {
  border: none;
  outline: none;
  border-bottom: 3px solid #fff;
  background: transparent;
  padding: 10px;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
}

#time-div {
  text-align: center;
  align-self: center;
}

#image-author {
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#camera img {
  width: 9%;
}

/* https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTEwMjl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MjI4NDE2NzA&ixlib=rb-1.2.1&q=80 */
